# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) Built-In Functions <br>

 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
10) Try and Except <br>

### Int & Float Assignments

##### Assigning int

6
21
5
13

##### Assigning float

3.14
30.465

#### Performing Calculations on ints and floats

##### Addition

10
10

17
19

##### Subtraction

13
13
11

##### Multiplication

47.0
94.0

47.0
94.0

20

##### Division

5.0

15.0

##### Floor Division

2

2.5

##### Modulo

In [45]:
num1 = 6
if num1 % 2 == 0:
    print("even")
else:
    print("odd")

even

In [43]:
num1 = 5
num2 = 2
result_mod = num1 % num2
print(result_mod)

#shorthand
num1 %= num2

print(num1)

1
1

In [44]:
num1 = 100
num2 = 15

result_mod = num1 % num2
print(result_mod)

10

##### Exponential

25
625

27
19683

### String Input-Output

##### String Assignment

Ryan
Golden Retriever

##### print() <br>
<p>Don't forget about end=' '</p>

Hello, Ryan
Full name: Ryan Rhoades

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

##### String Concatenation

In [85]:
first_name = "Luke"
last_name = "Skywalker"

full_name = first_name + " " + last_name
print(full_name)

full_name += (" " + "Jedi Master")
print(full_name)

Luke Skywalker
Luke Skywalker Jedi Master

13

In [84]:
my_string = "I have a dog, his name is"
dog_name = "Eyo"

dog_sentence = my_string + " " + dog_name
print(dog_sentence)

I have a dog, his name is Eyo

##### Type Conversion

In [89]:
# int() - convert type into integer type
# float() - convert to float type
# str() - convert to string type

#not every string can be made into a float or integer but every integer or float can be made into a string
# why?!?!?

x = 12
print(type(x))

name = "Ryan"

num_str = "15"

y = 1.45
print(type(y))

<class 'int'>
<class 'float'>

In [88]:
new_x = str(x)

new_y = str(y)

print(type(new_x))
print(type(new_y))

<class 'str'>
<class 'str'>

In [90]:
new_name = int(name)

ValueError: invalid literal for int() with base 10: 'Ryan'

##### input()

In [111]:
# Input will always return a string, all of the time, forever and ever and ever
name = input("What is your name?")
print("Your name is,", name)

quest = input("What is your quest,")
print("Your quest is,", quest)

color = input("What is your favorite color?")
print("Your favorite color is,", color)

What is your name?asd
Your name is, asd
What is your quest,asd
Your quest is, asd
What is your favorite color?asd
Your favorite color is, asd

In [ ]:
sentence = "I met this guy he said \"hello I'm a person" "

In [102]:
age = float(input("How old are you? "))

print("Your age is", age)

age += 1

print(age)

How old are you? 31
Your age is 31.0
32.0

##### format()

In [106]:
age = int(input("How old are you? "))
name = input("What is your name? ")

result_string = "You are {} years old, {} and you are getting wiser!".format(name, age)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

How old are you? 31
What is your name? ryan
You are ryan years old, 31 and you are getting wiser!
31 is a great time in life!!!

##### Old Way (python 2)

In [108]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 31 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a formatted statement that asks for a car's color, year, make, model and prints out the results</p>

In [1]:
color = input("What is the color of your car? ")
year = input("What is the year of your car? ")
make = input("What is the make of your car? ")
model = input("What is the model of your car? ")

car_result = f"Your car is a {color} {year} {make} {model}!
print(car_result)

What is the color of your car? Silver
What is the year of your car? 2004
What is the make of your car? Toyota
What is the model of your car? Rav4
\sYour car is a Toyota 2004 Toyota Rav4!

What is your car's color? blue
What is your car's year? 2015
What is your car's make? mazda
What is your car's model? mazda 3
Your car's year make and model is: blue, 2015, mazda, and mazda 3.

### If Statements

In [3]:
# Operators Less Than <, Greater Than >, Equal too ==, Not Equal To !=
# Less Than or Equal To <=, Greater Than or Equal To >=

#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

#if
#elif
#else

num1 = 6
num2 = 65

if num2 == num1:
    print("yay!")
elif num2 > num1:
    print("num2 is larger")
else:
    print("yeah thats a number")
    
shirt_color = "black"

if shirt_color == "blue":
    print("YOUR SHIRT IS BLUE NYAH")
elif shirt_color == "black":
    print("I am a great magician, your shirt is black")
else:
    print("What do you get when you cross an owl with a bungie cord?")

num2 is larger
I am a great magician, your shirt is black

##### 'is' keyword

In [5]:
#use the "is" keyword checking for same/similar objects (location) not same value
num3 = 90

if num3 == 90:
    print("super duper")
    
# if num3 is 90:
#    print("neato")
    
num4 = num3

print(num4)
print(num3)

if num4 == num3:
    print("They are equal")
    
if num4 is num3:
    print("These are the same object")

super duper
90
90
They are equal
They are the same object

##### 'in' keyword

In [6]:
#Check if a character is in a string
char_name = "Boba Fett"
if "b" in char_name:
    print("beautiful")
else:
    print("Oh darn, its not here")

beautiful

##### 'not in' keyword'

In [8]:
sega_char = "Sonic"
sega_char2 = "Sanic"


if "a" not in sega_char.lower():
    print("This is not Saaaanic :(")
else:
    print("This is Sanic!! GoTtA Go FaSt")

This is not Saaaanic :(

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>
<p>Check for case sensitivity</p>

In [9]:
user_word = input("Please enter a word: ")

if "p" in user_word.lower():
    print("I found the letter p!")
else:
    print("There is no p!")

Please enter a word: Piano
I found the letter p!

Enter you string: potatoes
Sting has p letter init

Give me a word: possum
Yep theres a (p) in that word!

Hey you, enter a string: Percy
Big P in here

## Using 'and'/'or' with If Statements

In [167]:
#Truth Tree
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 15
num2 = 3
num3 = 10
num4 = 3


#if with and
if num1 / 5 == num2 and num3 - 7 == num4:
    print("True and True")
else:
    print("One of the above statements is false")

#if with or
if num1> num2 or num3 == num4:
    print("at least one of these statements is true")
else:
    print("This is false!")

True and True
True and False

### Elif Statements

In [11]:
#if conidtion 1
#elif condition 2
#elif condition 3
#elif condition 4
#else (all other conditions)

first_name = "Bulbasaur"

if first_name == "John":
    print("Hello John")
elif first_name == "Cheetor":
    print("Hello Cheetor")
elif first_name == "Bulbasaur":
    print("Bulbasaur, I choose you!")
elif first_name == "Lando":
    print("Hi, Lando")
else:
    print("Sorry, I don't know your name, but hello anyways!")

Bulbasaur, I choose you!

### Else Statements

In [182]:
#else is accounting for every other case that isn't true for any of the ifs or elifs
number = 112

if number == 20:
    print(number)
elif number == 15:
    print(number)
else:
    print(f"The number is not 20 or 15, its {number}")

The number is not 20 or 15, its 112

### String Manipulation

#### .lstrip()

In [185]:
# our_string.lstrip()
name = "                  Lando Calrissian"
print(name)
print(name.lstrip())

                  Lando Calrissian
Lando Calrissian

#### .rstrip()

In [187]:
# our_string.rstrip()
name = "Luke Skywalker     "
print(name)
name = name.rstrip()
print(name)

Luke Skywalker
Luke Skywalker

#### .strip()

In [189]:
# our.string.strip()
name = "   Ash Ketchum    "
print(name)

print(name.strip())

   Ash Ketchum
Ash Ketchum

In [191]:
name = input("What is your name? ")


if name == "ryan":
    print("cool beans")
else:
    print("unlegit")
name = name.strip()
if name == "ryan":
    print("cool beans")
else:
    print("unlegit")

What is your name?  ryan
unlegit
cool beans

In [194]:
name = "rod,"

name = name.strip(',')
print(name)

rod

In [201]:
#.replace()
name = ",,,,,,,,,,,,,,,,,,,,,,,,,,,,r,o,d"

name = name.replace(",", '')
print(name)

rod

#### .title()

In [202]:
#our_string.title()
name = "goofy goober"
print(name.title())

Goofy Goober

#### .upper()

In [203]:
# our_string.upper()
name = "Cheetor"
print(name.upper())

CHEETOR

#### .lower()

In [205]:
# our_string.lower()
name = "Darth Vader"
print(name.lower())

name_lower = name.lower()
print(name_lower)

darth vader
darth vader

### String Exercise

Have a user input a sentence. Return the name with all white space removed and each first letter capitalized.

In [13]:
name = input("What is your full name? ")
print("Your name is, " + name.strip().title())

What is your full name? arthur lawrence victory
Your name is, Arthur Lawrence Victory

In [207]:
name = input("Enter a name")
name2 = name.strip()
name3 = name2.title()
print(name3)

Enter a name    ryan rhoades
Ryan Rhoades

In [208]:
name = input("Enter your name:")
name1 = name.strip()

print("your name is",name1.title())

Enter your name:gertrude
your name is Gertrude

In [209]:
name = input("What is your name")
print(name)

print("Their name is ", name.strip().title())

What is your namehot potato patty
hot potato patty
Their name is  Hot Potato Patty

### Built-In Functions

##### len()

In [15]:
#works for strings and lists
# return the length of a given variable as an integer
name = "Max"

print(len(name))

length_of_name = len(name)

length_of_name += 2
print(length_of_name)

my_list = [1, 2, 3, 4, 5, 6]
print(len(my_list))

3
5
6

In [16]:
# gives a tooltip on a python built-in function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [18]:
#check a variable/value to find out what Object Family (data type) it belongs to
# isinstance(var, type)
print(isinstance(4,int))

num = 7
if isintance(num,int):
    print("This is an integer")
else:
    print("This is not an integer")

True

<class 'str'>
True

In [240]:
print(isinstance(5, float))

False

In [ ]:
num1 = 5
num2 = 2

floored = num1//num2

##### abs()

In [22]:
# | 5 |
# give us the distance to zero

print(abs(-5))
print(abs(10))
print(abs(10-30))

5
10
20

### Try and Except

In [245]:
# use this whenever you expect encounter a bug so that the error doesn't cause the program to stop
# logging graceful error messages to gently nudge the user in the right direction

try:
    age = int(input("How old are you? "))
    print(f"Happy Birthday you were {age} and now you are {age + 1})
except:
    print("Please enter a number, not text")

How old are you? 31
Happy Birthday you were 31 and now you are 32

How old are you? sdfg

ValueError: invalid literal for int() with base 10: 'sdfg'

## Exercise #1 <br>
<p>Accept two user ages as inputs and give us the difference between them. (The Answer should always be a positive output)</p>

In [1]:
age1 = 42
age2 = 32

difference = abs(age1 - age2)
print(difference)

10

## Exercise #2 
<p>Accept 3 user inputs for variables named noun, verb and adjective. Print out a formatted string using the outputs.</p>

In [3]:
noun = input("Enter a noun: ")
verb = input("Enter a verb: ")
adjective = input("Enter a adjective: ")

print(f"\nThe {noun} {verb} out the door {adjective}")

Enter a noun: Turtle
Enter a verb: trotted
Enter a adjective: slowly

The Turtle trotted ran out the door slowly

## Exercise #3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [10]:
age = int(input("Enter your age: "))

if age < 18:
    print("\nkids")
elif age <= 65:
    print("\nAdults")
else:
    print("\nSeniors")

Enter your age: 45

Adults

## Exercise #4
<p>Take in a number from a user input, output the number squared.</p>

In [18]:
num = int(input("Enter a random number: "))
print(num**2)

Enter a random number: 125
15625

## Exercise #5
<p>Check the below variables' length. If the length of the word is greater than 5 output True, if it is less than 5, output False<p>

In [24]:
word1 = "panini"
word2 = "bulbasaur"
word3 = "pie"
word4 = "dolphin"
word5 = "dog"

if len(word1) > 5:
    print("True")
else:
    print("False")
    
if len(word2) > 5:
    print("True")
else:
    print("False")

if len(word3) > 5:
    print("True")
else:
    print("False")
    
if len(word4) > 5:
    print("True")
else:
    print("False")
    
if len(word5) > 5:
    print("True")
else:
    print("False")

True
True
False
True
False